@font-face {
 font-family:THSarabunNew_content;
 src:url(font/THSarabunNew.woff) format("woff2");
}

.indent-a {
 -webkit-margin-before:1em;
 margin-block-start:1em;
 -webkit-margin-after:1em;
 margin-block-end:1em;
 -webkit-margin-start:0;
 margin-inline-start:0;
 -webkit-margin-end:0;
 margin-inline-end:0;
 text-indent:50px
}
#story-content hr {
 margin:15px 0;
 height:2px;
 border:0
}
#story-content,
.ck-content,
.content:not(#content-area) {
 font-size:28px
}
#story-content:not(.selling-chapter) {
 font-family:'THSarabunNew_content'!important;
}
#story-content:not(.selling-chapter) * {
 font-size:1em!important;
 font-family:'THSarabunNew_content'!important;
 line-height:1.6em
}
.ck-content * {
 font-size:1em!important;
 font-family:'THSarabunNew_Normal'!important;
 line-height:1.2em
}
textarea#codearea {
 color:#555555
}
#main-article h2,
#story-content h2,
.ck-content h2,
.content:not(#content-area) h2 {
 font-size:1.97em;
 line-height:1.68em;
 padding-top:0.8em;
 margin-bottom:0.4em;
 padding-bottom:.2em;
 border-bottom:1px solid #e9e9e9;
 font-weight:400
}
#main-article h3,
#story-content h3,
.ck-content h3,
.content:not(#content-area) h3 {
 font-size:1.65em;
 line-height:1.5em;
 padding-top:0.8em;
 margin-bottom:0.2em;
 font-weight:400
}
#main-article h4,
#story-content h4,
.ck-content h4,
.content:not(#content-area) h4 {
 font-size:1.49em;
 line-height:1.4em;
 padding-top:0.8em;
 margin-bottom:0.2em;
 font-weight:400
}
#main-article p,
#story-content p,
.ck-content p {
 padding-top:0.2em;
 margin-bottom:0.8em
}
#main-article p {
 line-height:1.6em
}
.content:not(#content-area) p {
 line-height:1.6em;
 padding-top:0.2em;
 margin-bottom:0.8em
}
#main-article i,
#story-content i,
.ck-content i,
.content:not(#content-area) i {
 font-style:italic
}
