@font-face {
  font-family: "TH Sarabun New";
  src: url("/fonts/d.woff") format("woff");
}

.read{font-family: TH Sarabun New!important;text-indent: 1.8em;padding: 15px; font-size: 20px;line-height: 1.8em;}
